<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701099600387-pg73uhgn5a2acgm54s160ed3aeosn7ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701099600387-pg73uhgn5a2acgm54s160ed3aeosn7ak</string>
	<key>API_KEY</key>
	<string>AIzaSyB9pJEw4763vb_GESFUCM6qZWOCJWvkqQc</string>
	<key>GCM_SENDER_ID</key>
	<string>701099600387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyGameLib.MyGameLib</string>
	<key>PROJECT_ID</key>
	<string>mygamelib-ae91a</string>
	<key>STORAGE_BUCKET</key>
	<string>mygamelib-ae91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701099600387:ios:325843b5cf46d49d45fc36</string>
</dict>
</plist>